black
flake8
isort
tqdm
pandas
numpy
scikit-learn
scipy
openai==0.28.0
seaborn
torch
transformers
vllm
jupyterlab
ipywidgets
pre-commit
pqdm
detect-secrets==1.5.0
lightning
jsonargparse[signatures]
tensorboard
wandb
